body {
  margin: 20px;
  font-family: Roboto Regular, verdana;
}

.avatar {
  width: 150px;
}

.card {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: #83081e;
  color: #000000;
  border-bottom: 6px solid #000000;
  border-top: 6px solid #000000;
  border-radius: 5px;
}
